@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

:root {
color-scheme: light;
	--fg-default: #131313;
	--fg-subtle: #8B8679;
	--bg-default: #F6F5F2;
	--bg-subtle: #F0EBE3;
	--border-subtle: #8B8679;
	--fg-gradient: #233205;
	--bg-gradient: #D2FF72;
}

[data-theme="dark"] {
	--fg-default: #F6F5F2;
	--fg-subtle: #B8B8B8;
	--bg-default: #222831;
	--bg-subtle: #31363F;
	--border-subtle: #B8B8B8;
	--fg-gradient: #F6F5F2;
	--bg-gradient: #2F576E;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.hidden {
	display: none !important;
}

*:focus-visible {
	outline: 2px solid var(--fg-default);
	outline-offset: 2px;
	border-radius: 2px;
}

body {
	font-size: clamp(1.125rem, 1rem + 0.4vw, 1.5rem); line-height: 1.6;
    font-family: 'Outfit', sans-serif;
	font-weight: 250;
	text-wrap: pretty;
	color: var(--fg-default);
	background: var(--bg-default);
	margin:0;
}

hr {
	border: none;
	border-top: 1px solid var(--border);
	margin: 24px 0;
}

h1 {
	font-size: clamp(1.5rem, 0.9rem + 3vw, 3rem);
	font-weight: 300;
	margin-bottom: 0;
}

h2 {
	font-size: clamp(1.4rem, 16px + 2.4vw, 2.3rem);
	font-weight: 400;
	margin-bottom: 0;
}

h3 {
	font-size: clamp(1.3rem, 16px + 2.4vw, 1.8rem);
	font-weight: 500;
	margin-bottom: 0;
}

ul {
	padding-left: 20px
}

li {
	list-style-type: "–  ";
}

img {
	max-width: 100%;
	border-radius: 24px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	display: flex;
    flex-direction: column;
	min-height: 66vh;
}

nav {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 40px;
	font-weight: 200;
	font-family: "Google Sans Code", monospace;
	background-color:var(--bg-default);
}

nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
	justify-content: flex-end;
}

nav li {
	vertical-align: middle;
	list-style-type: none !important;
	margin: auto 0;
	font-size: 0.875rem;
}

nav a {
	text-decoration: none;
	color: var(--fg-default);
	font-size: 1rem;
}
nav .brand-wrapper {
	margin: auto 0;
}
nav a:hover {
	text-decoration: underline;
}
nav button {
    background: none;
    border: var(--fg-default) solid 1px;
    padding: 7px 11px;
    border-radius: 100px;
    color: var(--fg-default);
	font-size: 0.875rem;
	font-weight: 200;
	font-family: "Google Sans Code", monospace;
	cursor: pointer;
}

code {
	font-family: "Google Sans Code", monospace;
	font-weight: 400;
	background: darkslategrey;
	color: #f7f7f7;
	padding: 0.2rem 0.4rem;
	border-radius: 4px;
}

a {
	color: var(--fg-accent);
}

a:hover {
	color: var(--fg-accent);
	text-decoration: none;
}


.avatar {
    max-width: 200px;
    border-radius: 100%;
}

bb-card {
	display: block;
	padding: 16px 0;
	border-bottom: 1px solid var(--border);
}

.introduction {
	padding: 24px 0;
	max-width: 600px;
}

bb-intro p {
	font-size: clamp(16px, 24px + 0.3vw, 32px);
	line-height: 1.6;
	margin-bottom: 0;
	width: 100%;
	text-align: start;
	margin: 0;
}

bb-tags p {
	font-size: 0.9rem;
	font-family: "google sans code", monospace;
	width: 100%;
	text-align: start;
	margin: 12px 0;
}

.posts-metadata {
	display: flex;
	align-items: baseline;
	gap: 12px;
	font-family: "google sans code", monospace;
	font-size: 1rem;
}

.posts-list {
	padding: 0;
	margin: 0;
}

.posts-list hr:not(:last-of-type) {
	border-bottom: 1px solid black;
}

.posts-list-item {
	margin-bottom: 32px;
	list-style-type: none;
}

.posts-list-item > a {
	font-size: 28px;
}

footer {
    margin: 40px;
	color: var(--fg-gradient);
    background-color: var(--bg-gradient);
    min-height: 40vh;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

footer > div {
    display: flex;
	align-items: center;
    gap: 16px;
}

footer > h2 {
    font-size: clamp(3em, 8vw, 8em) !important;
    line-height: 1;
    margin: 32px 0;
}
footer svg {
    fill: var(--fg-gradient);
}

table {
	width: 100%;
	margin-top: 1.5em;
    margin-bottom: 2.5em;
    max-width: 600px;
    border-collapse: collapse;
    border-spacing: 0;
	border-top: 1px solid var(--border-subtle);
}
th {
	color: var(--fg-subtle);
	font-weight: 300;
}

th,
td {
	padding: 1em 1em 1em 0;
	text-align: start;
}
tr {
    border-bottom: 1px solid var(--border-subtle);
}


@media screen and (max-width: 600px) {
	main,
	nav {
		padding: 16px;
		margin: 0px;
	}
	footer {
		margin: 16px;
	}
}
